.AboutContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: calc(50% - 20px);
  margin-bottom: 0px;
  margin-top:20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}
