.artist-form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 9999;
}

button[type="submit"] {
  background-color: #D2DE32;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e2e5b6;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h2 {
  margin-bottom: 30px;
  color: #333333;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666666;
  font-size: 16px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.artist-form.show {
  display: block;
}
