.artist-form-popup {
  position: fixed;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 9999;
}

button[type="submit"] {
  background-color: #D2DE32;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e2e5b6;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h2 {
  margin-bottom: 10px;
  color: #333333;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666666;
  font-size: 16px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 1px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.artist-form.show {
  display: block;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px; /* Reduce the space between inputs */
  font-size: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input[type="file"] {
  padding: 8px; /* Adjust padding for file input */
}
