.card {
    margin-bottom: 20px;
    
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    display: flex;
    padding: 20px;
  }



.AboutContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px ; 
  margin-bottom: 100px;
}

  
  .card-image {
    flex: 1;
  }
  
  .card-img {
    width: 100%;
    border-radius: 5px;
  }
  
  .card-text {
    flex: 2;
    padding: 0 20px;
  }
  
  .Socials {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .Socials a {
    margin-right: 10px;
  }
  

  