.profile-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
}

.user-info-container {
    display: grid;
    grid-column: 1/2;
    justify-content: center;
    align-content: center;
    grid-template-rows: 0.5fr 4fr 1fr 1fr 0.5fr;
}

.user-img {
    grid-row: 2/3;
    background-color: bisque;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
}

.donate-btn {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    grid-row: 4/5;
    height: 3rem;
    width: 10rem;
    background-color: gray;
    cursor: pointer;
}



.songs-container {
    grid-column: 2/3;
    display: grid;
    grid-row: 4rem 4fr;
    background-color: aliceblue;
    overflow: auto;
    height: 40rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

.songs-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.add-event-btn-div {
    display: flex;
    position: ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: aqua;

}


.add-event-btn {
    height: 2rem;
    width: 2rem;
    color: black;
    cursor: pointer;
}

.songs-div {
    background-color: rgb(245, 176, 91);
    align-self: center;
    text-align: center;
    height: 2.5rem;
    width: 20rem;
    border-radius: 1rem;
    gap: 2rem;
}